body {
	margin: 0px;
	padding: 0px;
	background-color: var(--bg);
}

@font-face {
	font-family: 'Silkscreen';
	src: local('Silkscreen'), url(/src/fonts/silkscreen.ttf) format('truetype');
}

@font-face {
	font-family: 'Atkinson';
	src: local('Atkinson'), url(/src/fonts/atkinson.ttf) format('truetype');
}

:root {
	--bg: #353941;
	--bgl: #26282B;
	--text: #5F85DB;
	--textl: #90B8F8;
	--textll: #15F5BA;
	--textlll: #836FFF;
}